@* Since @page directive is missing this is a so called "non-routable" component. *@

<nav class="navbar bg-body-tertiary" data-bs-theme="dark"> @* add dark theme *@
    <div class="container"> @* change to "container" *@
        <span class="navbar-brand mb-0 h1">Nuclear Storage Manager</span> @* rename *@
    </div>
</nav>
